.sec1 {
  width: 100%;
  height: 22.5rem;
  background: url("../images/sy_bg.png") center -65px no-repeat;
  background-size: cover;
  overflow: hidden;
}
.sec1 .syHz {
  width: 12.425rem;
  height: 36.25rem;
  background: url("../images/sy_hz.png") 0 0 / contain no-repeat;
  position: absolute;
  left: 7.85rem;
  top: 3.725rem;
}
.sec1 .ewm {
  width: 4.9rem;
  height: 4.9rem;
  background: url("../images/evm.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: 5.875rem;
  top: 16.15rem;
}
.sec1 .sytext {
  width: 11.025rem;
  height: 4.825rem;
  background: url("../images/sy_1.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: 14.1rem;
  top: 15.95rem;
}
.sec2 {
  width: 100%;
  background: url("../images/sy_bg2.png") center top / 100% 7.525rem no-repeat;
  overflow: hidden;
}
.sec2 .shortLine {
  background-color: #fc4f63;
  margin-top: 4.525rem;
}
.sec2 .longLine {
  background-color: #588be8;
  margin-top: 4.525rem;
}
.sec2 .textContent {
  width: 14rem;
  height: 5rem;
  position: absolute;
  left: 2rem;
  top: 11rem;
  font-size: .55rem;
  color: #444444;
}
.sec2 .textContent p {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
}
.sec2 .textContent p span {
  color: #7cdcfe;
  font-size: 0.7rem;
}
.sec2 .pic {
  width: 12.725rem;
  height: 7.225rem;
  background: url("../images/sy_5.png") 0 / contain no-repeat;
  position: absolute;
  left: 16.975rem;
  top: 8.725rem;
}
.sec3 {
  width: 100%;
  position: relative;
}
.sec3 .left {
  width: 26.375rem;
  width: 54.9vw;
  height: 18.05rem;
  height: 37.55vw;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9.025rem;
  margin-top: -18.775vw;
  background: url("../images/sec3_left.png") right center / 100% 100% no-repeat;
  z-index: 10;
  color: #fff;
}
.sec3 .left .ctt {
  width: 12.5rem;
  height: 10.9rem;
  position: absolute;
  top: 3.925rem;
  top: 8.18vw;
  right: 2.125rem;
  right: 4.43vw;
}
.sec3 .left .ctt .shortLine,
.sec3 .left .ctt .longLine {
  display: inline-block;
  height: .15rem;
  border-radius: 0.07rem;
  margin-bottom: .875rem;
  margin-top: 0;
}
.sec3 .left .ctt .shortLine {
  width: 1.35rem;
  margin-left: .05rem;
  margin-right: 0.4rem;
  background-color: #fd4e63;
}
.sec3 .left .ctt .longLine {
  width: 3.125rem;
  background-color: #fdcc28;
}
.sec3 .left .ctt .secTitle {
  height: 1rem;
  line-height: 1rem;
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
  margin-left: .05rem;
}
.sec3 .left .textContent {
  width: 14.25rem;
  height: 5.5rem;
  margin-top: 2.5rem;
}
.sec3 .left p {
  width: 14.25rem;
  height: 1.05rem;
  line-height: 1.05rem;
  font-size: 0.7rem;
  margin-bottom: 0.85rem;
}
.sec3 .left p i {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #ffcb2a;
  margin: 0.33rem 0.5rem 0.33rem 0.1rem;
  vertical-align: middle;
}
.sec3 .right {
  width: 27.3rem;
  width: 56.9vw;
  height: 19.45rem;
  height: 40.51vw;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9.725rem;
  margin-top: -20.26vw;
  background: url("../images/sy_13.png") left center / cover no-repeat;
  z-index: 0;
}
.sec4 {
  width: 100%;
  height: 27.45rem;
  background: url("../images/sy_bg_3.png") right 2.38rem / cover no-repeat;
  position: relative;
  color: #fff;
}
.sec4 .shortLine {
  background-color: #fdcc2a;
  margin-top: 1.175rem;
}
.sec4 .longLine {
  background-color: #9dce3e;
  margin-top: 1.175rem;
}
.sec4 .secTitle {
  margin-top: .725rem;
}
.sec4 .circle1 {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #fdcc2a;
  position: absolute;
  left: 12.38rem;
  top: 11.525rem;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.38rem;
  text-align: center;
  box-sizing: border-box;
}
.sec4 .circle2 {
  width: 3.17rem;
  height: 3.17rem;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 0.38rem;
  text-align: center;
  font-size: 0.85rem;
}
.sec4 .circle3,
.sec4 .circle4 {
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.45rem;
}
.sec4 .circle3.two,
.sec4 .circle4.two {
  line-height: 1.65rem;
}
.sec4 .circle3.four,
.sec4 .circle4.four {
  padding: 0.2rem;
}
.sec4 .circle3.five,
.sec4 .circle4.five {
  line-height: 0.55rem;
  padding: 0.28rem 0;
}
.sec4 .row1 {
  top: 4.025rem;
}
.sec4 .row2 {
  top: 5.975rem;
}
.sec4 .row3 {
  top: 6.075rem;
}
.sec4 .row4 {
  top: 7.675rem;
}
.sec4 .row5 {
  top: 12.575rem;
}
.sec4 .row6 {
  top: 13.175rem;
}
.sec4 .row7 {
  top: 15.375rem;
}
.sec4 .row8 {
  top: 16.05rem;
}
.sec4 .row9 {
  top: 17.3rem;
}
.sec4 .row10 {
  top: 17.525rem;
}
.sec4 .row11 {
  top: 19.125rem;
}
.sec4 .row12 {
  top: 19.675rem;
}
.sec4 .column1 {
  left: 4.25rem;
}
.sec4 .column2 {
  left: 4.58rem;
}
.sec4 .column3 {
  left: 6.38rem;
}
.sec4 .column4 {
  left: 6.7rem;
}
.sec4 .column5 {
  left: 6.9rem;
}
.sec4 .column6 {
  left: 7.92rem;
}
.sec4 .column7 {
  left: 10.03rem;
}
.sec4 .column8 {
  left: 10.4rem;
}
.sec4 .column9 {
  left: 9.1rem;
}
.sec4 .column10 {
  left: 10.8rem;
}
.sec4 .column11 {
  left: 11.47rem;
}
.sec4 .column12 {
  left: 12.47rem;
}
.sec4 .column13 {
  left: 15.05rem;
}
.sec4 .column14 {
  left: 15.68rem;
}
.sec4 .column15 {
  left: 16.75rem;
}
.sec4 .column16 {
  left: 18.65rem;
}
.sec4 .column17 {
  left: 17.23rem;
}
.sec4 .column18 {
  left: 17.57rem;
}
.sec4 .column19 {
  left: 19.7rem;
}
.sec4 .column20 {
  left: 20.77rem;
}
.sec4 .column21 {
  left: 20.93rem;
}
.sec4 .column22 {
  left: 21.27rem;
}
.sec4 .column23 {
  left: 23.07rem;
}
.sec4 .column24 {
  left: 23.38rem;
}
.sec4 .qnkf .circle2 {
  background-color: #ff4e63;
  left: 13.03rem;
  top: 7.875rem;
}
.sec4 .qnkf .circle3,
.sec4 .qnkf .circle4 {
  background-color: #ff4e63;
}
.sec4 .kcxx .circle2 {
  background-color: #5e94ff;
  left: 8.82rem;
  top: 14.125rem;
}
.sec4 .kcxx .circle3,
.sec4 .kcxx .circle4 {
  background-color: #5e94ff;
}
.sec4 .qzhd .circle2 {
  background-color: #9ccc44;
  left: 17.4rem;
  top: 14.125rem;
}
.sec4 .qzhd .circle3,
.sec4 .qzhd .circle4 {
  background-color: #9ccc44;
}
.sec5 {
  width: 100%;
  background: url("../images/sy_bg_6.png") center bottom / cover no-repeat;
}
.sec5 .shortLine {
  margin-top: 1.4rem;
  background-color: #5f93ff;
}
.sec5 .longLine {
  margin-top: 1.4rem;
  background-color: #fdcc27;
}
.sec5 .secTitle {
  margin-top: .575rem;
}
.sec5 .kindergartens {
  width: 27.65rem;
  height: 17.25rem;
  margin: .775rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec5 .kindergartens img {
  display: block;
  width: 5.5rem;
  height: 4.2rem;
}
.sec5 .kindergartens .kindergarten {
  widows: 5.5rem;
  height: 5.58rem;
}
.sec5 .kindergartens .kindergarten .name {
  width: 5.5rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.6rem;
  text-align: center;
  color: #fff;
}
